body {
  font-family: Arial, sans-serif;
  background-color: #8a8a8a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #f2f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  text-align: center;
}

.header {
  color: #333333;
  margin-bottom: 20px;
}

.upload-section,
.query-section {
  margin-top: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.file-input {
  display: block;
  margin: 10px auto;
}

.upload-message,
.response-message {
  color: #555555;
  margin: 10px 0;
}

.query-input {
  width: 85%;
  height: 100px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.submit-button,
.end-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  margin: 30px;
}

.submit-button:hover {
  background-color: #45a049;
}

.end-button {
  background-color: #f44336;
  color: white;
  margin: 30px;
}

.end-button:hover {
  background-color: #d32f2f;
}

.upload-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #45a049;
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
